In [1]:
import matplotlib.pyplot as plt
import numpy
import os
import numpy as np
import pandas as pd
import bs4

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'astropy trial.ipynb',
 'ch2_ohr_ncp_20200824T1003365280_d_img_d18.img',
 'ch2_ohr_ncp_20200824T1003365280_d_img_d18.xml',
 'ch2_tmc_ncn_20210524T1512098273_d_img_d18.img',
 'ch2_tmc_ncn_20210524T1512098273_g_grd_d18.csv',
 'ch2_tmc_ncn_20211111T1322553940_d_img_d18.img',
 'ch2_tmc_ncn_20211111T1322553940_d_img_d18.xml',
 'ch2_tmc_ncn_20211111T1322553940_g_grd_d18.csv',
 'Check_for_Intersection.ipynb',
 'dir_2019_2020',
 'dir_2021',
 'dir_2022',
 'dot_img_extension.ipynb',
 'K2_Lightcurve.ipynb',
 'LR_HR_Pair_Generation.ipynb',
 'tmc_data',
 'tmc_img_access_using_csv_pixels.ipynb']

In [3]:
with open('ch2_ohr_ncp_20200824T1003365280_d_img_d18.xml', 'r') as xml_file:
    contents = xml_file.read()

soup = bs4.BeautifulSoup(contents, 'lxml')

In [4]:
lat = np.zeros((2, 2))
lon = np.zeros((2, 2))

In [5]:
lat[0, 0] = float(soup.find_all('isda:upper_left_latitude')[1].text)
lat[0, 1] = float(soup.find_all('isda:upper_right_latitude')[1].text)
lat[1, 0] = float(soup.find_all('isda:lower_left_latitude')[1].text)
lat[1, 1] = float(soup.find_all('isda:lower_right_latitude')[1].text)
lat

array([[-61.660467, -61.657424],
       [-62.490045, -62.486906]])

In [6]:
lon[0, 0] = float(soup.find_all('isda:upper_left_longitude')[1].text)
lon[0, 1] = float(soup.find_all('isda:upper_right_longitude')[1].text)
lon[1, 0] = float(soup.find_all('isda:lower_left_longitude')[1].text)
lon[1, 1] = float(soup.find_all('isda:lower_right_longitude')[1].text)
lon

array([[56.577047, 56.807375],
       [56.666465, 56.902936]])

In [33]:
csv = 'ch2_tmc_ncn_20210524T1512098273_g_grd_d18.csv'

In [34]:
df = pd.read_csv(csv)
df['ul_lon_difference'] = df['Longitude'] - lon[0, 0]
df['ur_lon_difference'] = df['Longitude'] - lon[0, 1]
df['ll_lon_difference'] = df['Longitude'] - lon[1, 0]
df['lr_lon_difference'] = df['Longitude'] - lon[1, 1]

df['ul_lat_difference'] = df['Latitude'] - lat[0, 0]
df['ur_lat_difference'] = df['Latitude'] - lat[0, 1]
df['ll_lat_difference'] = df['Latitude'] - lat[1, 0]
df['lr_lat_difference'] = df['Latitude'] - lat[1, 1]

In [35]:
df

,Longitude,Latitude,Pixel,Scan,ul_lon_difference,ur_lon_difference,ll_lon_difference,lr_lon_difference,ul_lat_difference,ur_lat_difference,ll_lat_difference,lr_lat_difference
0,51.969681,-57.228175,0,0,-4.607366,-4.837694,-4.696784,-4.933255,4.432292,4.429249,5.261870,5.258731
1,52.007449,-57.227728,100,0,-4.569598,-4.799926,-4.659016,-4.895487,4.432739,4.429696,5.262317,5.259178
2,52.045212,-57.227268,200,0,-4.531835,-4.762163,-4.621253,-4.857724,4.433199,4.430156,5.262777,5.259638
3,52.082971,-57.226796,300,0,-4.494076,-4.724404,-4.583494,-4.819965,4.433671,4.430628,5.263249,5.260110
4,52.120725,-57.226311,400,0,-4.456322,-4.686650,-4.545740,-4.782211,4.434156,4.431113,5.263734,5.260595
...,...,...,...,...,...,...,...,...,...,...,...,...
72401,65.410303,-85.811262,3600,176475,8.833255,8.602927,8.743837,8.507367,-24.150795,-24.153838,-23.321217,-23.324356
72402,65.654459,-85.806563,3700,176475,9.077412,8.847084,8.987994,8.751523,-24.146096,-24.149139,-23.316518,-23.319657
72403,65.898085,-85.801786,3800,176475,9.321038,9.090710,9.231620,8.995149,-24.141319,-24.144362,-23.311741,-23.314880
72404,66.141175,-85.796933,3900,176475,9.564128,9.333800,9.474710,9.238239,-24.136466,-24.139509,-23.306888,-23.310027
72405,66.381300,-85.792052,3999,176475,9.804253,9.573925,9.714835,9.478364,-24.131585,-24.134628,-23.302007,-23.305146

In [36]:
ul_lon_df = df[abs(df['ul_lon_difference']) < 0.1]
ur_lon_df = df[abs(df['ur_lon_difference']) < 0.1]
ll_lon_df = df[abs(df['ll_lon_difference']) < 0.1]
lr_lon_df = df[abs(df['lr_lon_difference']) < 0.1]

ul_lat_df = df[abs(df['ul_lat_difference']) < 0.1]
ur_lat_df = df[abs(df['ur_lat_difference']) < 0.1]
ll_lat_df = df[abs(df['ll_lat_difference']) < 0.1]
lr_lat_df = df[abs(df['lr_lat_difference']) < 0.1]

In [37]:
df[abs(df['ur_lon_difference']) == min(abs(df['ur_lon_difference']))]

,Longitude,Latitude,Pixel,Scan,ul_lon_difference,ur_lon_difference,ll_lon_difference,lr_lon_difference,ul_lat_difference,ur_lat_difference,ll_lat_difference,lr_lat_difference
59437,56.807558,-80.731561,2800,144900,0.230511,0.000183,0.141093,-0.095378,-19.071094,-19.074137,-18.241516,-18.244655

In [38]:
df[abs(df['ll_lon_difference']) == min(abs(df['ll_lon_difference']))]

,Longitude,Latitude,Pixel,Scan,ul_lon_difference,ur_lon_difference,ll_lon_difference,lr_lon_difference,ul_lat_difference,ur_lat_difference,ll_lat_difference,lr_lat_difference
54566,56.666455,-78.780485,3600,133000,0.089408,-0.14092,-0.00001,-0.236481,-17.120018,-17.123061,-16.29044,-16.293579

In [39]:
df[abs(df['ur_lat_difference']) == min(abs(df['ur_lat_difference']))]

,Longitude,Latitude,Pixel,Scan,ul_lon_difference,ur_lon_difference,ll_lon_difference,lr_lon_difference,ul_lat_difference,ur_lat_difference,ll_lat_difference,lr_lat_difference
11244,52.493962,-61.657463,1000,27400,-4.083085,-4.313413,-4.172503,-4.408974,0.003004,-0.000039,0.832583,0.829443

In [40]:
df[abs(df['ll_lat_difference']) == min(abs(df['ll_lat_difference']))]

,Longitude,Latitude,Pixel,Scan,ul_lon_difference,ur_lon_difference,ll_lon_difference,lr_lon_difference,ul_lat_difference,ur_lat_difference,ll_lat_difference,lr_lat_difference
13390,53.135629,-62.489889,2400,32600,-3.441418,-3.671746,-3.530836,-3.767307,-0.829422,-0.832465,0.000156,-0.002983

another

In [21]:
csv = 'ch2_tmc_ncn_20211111T1322553940_g_grd_d18.csv'

In [22]:
df = pd.read_csv(csv)
df['ul_lon_difference'] = df['Longitude'] - lon[0, 0]
df['ur_lon_difference'] = df['Longitude'] - lon[0, 1]
df['ll_lon_difference'] = df['Longitude'] - lon[1, 0]
df['lr_lon_difference'] = df['Longitude'] - lon[1, 1]

df['ul_lat_difference'] = df['Latitude'] - lat[0, 0]
df['ur_lat_difference'] = df['Latitude'] - lat[0, 1]
df['ll_lat_difference'] = df['Latitude'] - lat[1, 0]
df['lr_lat_difference'] = df['Latitude'] - lat[1, 1]

In [23]:
df

,Longitude,Latitude,Pixel,Scan,ul_lon_difference,ur_lon_difference,ll_lon_difference,lr_lon_difference,ul_lat_difference,ur_lat_difference,ll_lat_difference,lr_lat_difference
0,329.816921,-87.688668,0,0,273.239874,273.009546,273.150456,272.913985,-26.028201,-26.031244,-25.198623,-25.201762
1,329.396545,-87.692025,100,0,272.819498,272.589170,272.730080,272.493609,-26.031558,-26.034601,-25.201980,-25.205119
2,328.975003,-87.695257,200,0,272.397956,272.167628,272.308538,272.072067,-26.034790,-26.037833,-25.205212,-25.208351
3,328.552333,-87.698364,300,0,271.975286,271.744958,271.885868,271.649397,-26.037897,-26.040940,-25.208319,-25.211458
4,328.128576,-87.701346,400,0,271.551529,271.321201,271.462111,271.225640,-26.040879,-26.043922,-25.211301,-25.214440
...,...,...,...,...,...,...,...,...,...,...,...,...
78264,138.709781,-60.803640,3600,190795,82.132734,81.902406,82.043316,81.806845,0.856827,0.853784,1.686405,1.683266
78265,138.743477,-60.803544,3700,190795,82.166430,81.936102,82.077012,81.840541,0.856923,0.853880,1.686501,1.683362
78266,138.777175,-60.803439,3800,190795,82.200128,81.969800,82.110710,81.874239,0.857028,0.853985,1.686606,1.683467
78267,138.810876,-60.803326,3900,190795,82.233829,82.003501,82.144411,81.907940,0.857140,0.854098,1.686719,1.683580
78268,138.844242,-60.803206,3999,190795,82.267195,82.036867,82.177777,81.941306,0.857261,0.854218,1.686839,1.683700

In [24]:
df[abs(df['ul_lon_difference']) == min(abs(df['ul_lon_difference']))]

,Longitude,Latitude,Pixel,Scan,ul_lon_difference,ur_lon_difference,ll_lon_difference,lr_lon_difference,ul_lat_difference,ur_lat_difference,ll_lat_difference,lr_lat_difference
5786,56.618701,-89.628627,500,14100,0.041654,-0.188674,-0.047764,-0.284235,-27.96816,-27.971203,-27.138582,-27.141721

In [25]:
df[abs(df['lr_lon_difference']) == min(abs(df['lr_lon_difference']))]

,Longitude,Latitude,Pixel,Scan,ul_lon_difference,ur_lon_difference,ll_lon_difference,lr_lon_difference,ul_lat_difference,ur_lat_difference,ll_lat_difference,lr_lat_difference
5752,56.84926,-89.750058,1200,14000,0.272213,0.041885,0.182795,-0.053676,-28.089591,-28.092634,-27.260013,-27.263152

In [26]:
df[abs(df['ul_lat_difference']) == min(abs(df['ul_lat_difference']))]

,Longitude,Latitude,Pixel,Scan,ul_lon_difference,ur_lon_difference,ll_lon_difference,lr_lon_difference,ul_lat_difference,ur_lat_difference,ll_lat_difference,lr_lat_difference
76098,137.54282,-61.660547,200,185600,80.965773,80.735445,80.876355,80.639884,-0.00008,-0.003123,0.829498,0.826359

In [27]:
df[abs(df['lr_lat_difference']) == min(abs(df['lr_lat_difference']))]

,Longitude,Latitude,Pixel,Scan,ul_lon_difference,ur_lon_difference,ll_lon_difference,lr_lon_difference,ul_lat_difference,ur_lat_difference,ll_lat_difference,lr_lat_difference
74048,137.520249,-62.486887,200,180600,80.943202,80.712874,80.853784,80.617313,-0.82642,-0.829463,0.003158,0.000019